body {
  background-color: #E6F0F8;
  margin: 0;
}

.container {
  position: relative;
  overflow: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  scroll-behavior: smooth;
  height: 100%;
}

.header-row {
  background-color: #D1E0FA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header-row h1 {
  font-size: 2rem;
  color: black;
}

.header-row ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.header-row li {
  display: inline;
}

.header-row a {
  text-decoration: none;
  color: #4A4A8A;
  font-size: 1.2rem;
}

.header-row a:hover {
  text-decoration: underline;
}

.row {
  padding: 50px 20px;  
  height: auto; 
}

.full-stack-box {
  background-color: #CDDAE4;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: auto;
}

.full-stack-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.full-stack-content img {
  width: 300px;
  border-radius: 10px;
}

.description {
  max-width: 500px;
}

.projects-container, .services-container, .contact-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;  
}

.box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 30%;
  min-width: 250px;  
}
.project h3, .service h3 {
  font-size: 1.5rem;
}

.footer {
  padding: 20px;
  margin: 0px;
  text-align: center;
  color: #333;
  font-size: large;
}

.technologies {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 20px;
  flex-wrap: wrap; 
}

.tech-box {
  text-align: center;
  padding: 15px;
  margin: 10px;
  border: 2px solid #CFCFE2; 
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 150px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tech-box:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.tech-img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  transition: opacity 0.3s ease;
}

.tech-box:hover .tech-img {
  opacity: 0.8;
}

.tech-box p {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

button {
  background-color: #A8C7D7;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}

button:hover {
  background-color: #B1D1E1;
}

@media (max-width: 768px) {
  .header-row h1 {
    font-size: 1.5rem;
  }

  .header-row a {
    font-size: 1rem;
  }

  .full-stack-content {
    flex-direction: column;
    align-items: center;
  }

  .full-stack-content img {
    width: 250px;
  }

  .projects-container, .services-container, .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 80%;  
  }

  .technologies {
    flex-direction: column;
    align-items: center;
  }

  .tech-box {
    width: 120px;  
  }
}

